@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    font-size: 12px;
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --White: hsl(0, 100%, 100%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --font-family: 'Poppins', sans-serif;
    --main-BG: var(--linear-gradient-1);
    --body-BG: var(--Red);
    --main-CR: var(--White);
    --p-CR: var(--desaturated-dark-blue)
}
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    /* font-size: 16px; */
    font-weight: 400;
    line-height: 1.6;
    color: var(--main-CR);
    background-color: var(--body-BG);
    background-image: url(images/bg-intro-mobile.png);
    min-height: 100vh;
    height: 100%;
    padding: 10vh 0;
}
h1 {
    line-height: 1.3;
    font-size: 2rem;
}
p {
    /* font-size: .875rem; */
    color: var(--p-CR);
    margin: 18px 0
}
.container {
    max-width: 69.375rem;
    padding: 0 2.1875rem;
    min-height: 50rem;
    position: relative;
    align-items: center
}
.trial, form {
    box-shadow: 0 0.3125rem 0 0px #00000025, inset 0 0 0 0.0625rem #0000001a;
    border-radius: 0.625rem;
    padding: 1.25rem;
}
.trial {
    background-color: var(--Blue);
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
    padding: 1.25rem 6rem;
    margin: 0 0 1.25rem;
}
form {
    background-color: var(--White);
    padding: 2.5rem;
}
form>p {
    margin: 1rem 0 0 0;
    font-size: .75rem;
    padding: 0 2rem;
    color: var(--Grayish-Blue)
}
form>p a {
    font-weight: bold;
    text-decoration: none;
    color: var(--Red)
}
.trial h4 {
    font-size: 1rem;
    display: inline-block;
    font-weight: 600;
}
.detail {
    margin-top: 1.875rem;
    font-size: small;
}
.detail p {
    margin: 2rem 0 4rem;
    opacity: .9;
    padding: 0 2rem;
}

.input-container input+p,button,input {
    transition: all .150s ease-in-out
}

form.error .input-container input+p {
    overflow: visible;
    height: auto;
}
.input-container input+p {
    overflow: hidden;
    height: 0;
    color: var(--Red);
    margin-top: -10px;
    text-align: end;
    font-size: 0.75rem;
    font-weight: 500;
    font-style: italic;
}
.input-container {
    position: relative;
}
.input-container>img {
    display: none;
    position: absolute;
    right: 0.9375rem;
    width: 1.5rem;
    top: 25%;
    transform: translate(-50%, -25%);
}
input::placeholder {
    color: hsl(240deg 1% 42%)
}
input:focus {
    outline: none;
    border: 0.0625rem solid var(--Dark-Blue);
}
form.error .input-container>img.error  {
    display: block;
}
input,button {
    font-family: var(--font-family);
    border-radius: 0.3125rem;
}
input {
    font-weight: 600;
    font-size: small;
    color: var(--Dark-Blue);
    width: 100%;
    border: 0.0625rem solid #ddd;
    margin: 0 0 0.9375rem;
    padding: 0 1.5625rem;
    height: 3.125rem;
    background-color: transparent;
}
input.error::placeholder {
    color: var(--Red);
}
input.error {
    border-color: var(--Red);
}
button {
    height: 3.125rem;
    font-weight: 500;
    font-size: .875rem;
    letter-spacing: 0.0625rem;
    border: none;
    background-color: var(--Green);
    color: var(--main-CR);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    box-shadow: inset 0 -0.1875rem 0 0px #00000025, inset 0 0 0 0.0625rem #0000001a;
}
button:hover,button:focus,button:active {
    background-color: hsl(154deg 59% 65%)
}
@media (min-width: 1080px) {
    :root {
        font-size: 16px;
    }
    body {
        text-align: start;
        padding: 0rem;
        height: auto;
        background-image: url(images/bg-intro-desktop.png);
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: auto;
        padding: 1.875rem 0rem;
    }
    .input-container>img {
        top: auto;
        bottom: 50%;
        transform: translate(-50%, 0%);
    }
    .trial {
        padding: 1.25rem;
    }
    h1 {
        line-height: 1;
        font-size: 3rem;
    }
    .detail {
        font-size: 1rem;
        margin-top: 0
    }
    .detail p {
        margin: 2rem 0;
        padding: 0 3rem 0 0;
    }
    form>p {
        text-align: center;
    }
}